* {
    box-sizing: border-box;
}

body {
    
    background: #E0EAFC;  
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.mobile-container {
    background-color: #fff;
    width: 400px;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    
}

img {
    max-width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1 rem;
}

header button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    padding: 1rem;
    text-align: center;
    background-color: rgb(233, 199, 255);
}

.fav-meals {
    display: flex;
    list-style-type: none;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.fav-meals li {
    position: relative;
    width: 75px;
    margin: 5px;
    cursor: pointer;
}

.fav-meals li .clear {
    background-color: transparent;
    opacity: 0;
    border: none;
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
    cursor: pointer;
    font-size: 1.2rem;   
}

.fav-meals li:hover .clear {
    opacity: 1;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    font-size: 0.9rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}





.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2pc #3333331a;
    margin: 1.5rem;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;

}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 50px;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: grey;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color:rebeccapurple;
}

.meal-info-container {
    background-color: rgb(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.meal-info-container.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.meal-info {
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
    padding: 0 3rem;
    position: relative;
    max-height: 100vh;
    overflow: auto;
}


.meal-info h1 {
    text-align: center;
}

.meal-info .close-popup {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}